<form [formGroup]="userPost" (ngSubmit)="onSubmit(userPost.value)">
  <div>
    <input type="text" formControlName="questionText" placeholder="question"><br><br>
    <ng-container formGroupName="optList">
      <input type="text" formControlName=a placeholder="options 1"><br><br>
      <input type="text" formControlName=b placeholder="options 2"><br><br>
      <input type="text" formControlName=c placeholder="options 3"><br><br>
      <input type="text" formControlName=d placeholder="options 4"><br><br>
    </ng-container>
    <input type="text" formControlName="correct" placeholder="correct"><br><br>
    <input type="text" formControlName="explanation" placeholder="explain"><br><br>

    <button type="submit" [disabled]="!userPost.valid">submit data</button>
  </div>
</form>